.app {
  .form {
    background-color: #0f766e;
    color: #fff;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;

    .input {
      width: 25rem;
      outline: none;
    }
    .isInvalid {
      border: 2px solid rgb(139, 23, 23) ;
    }
    .label {
      font-size: 17px;
    }
    .btn {
      color: #0f766e;
      border: 1px solid #fff;
      background-color: #fff;
      border-radius: 4px;
      width: 100px;
      margin-top: 20px;
    }
    .btn:hover {
      background-color: #0f766e;
      color: #fff;
    }
    .error {
      color: #9a0f0f;
      background-color: #fff;
      padding: 7px;
      margin-top: 7px;
      border-radius: 5px;
      width: 100%;
    }
  }
}
